/* File: automatic-variables.css - Version: 2.8.3 - Generated: 2024-06-05 19:27:26 */
:root, .color-scheme--main {
  --action-hex: #003f52;
  --action-hsl: 194 100% 16%;
  --action-rgb: 0 63 82;
  --action-r: 0;
  --action-g: 63;
  --action-b: 82;
  --action-h: 194;
  --action-s: 100%;
  --action-l: 16%;
  --action-hover-h: 96;
  --action-hover-s: 100%;
  --action-hover-l: 1.8;
  --action-ultra-light-h: 194;
  --action-ultra-light-s: 100%;
  --action-ultra-light-l: 95%;
  --action-light-h: 194;
  --action-light-s: 100%;
  --action-light-l: 85%;
  --action-medium-h: 194;
  --action-medium-s: 100%;
  --action-medium-l: 50%;
  --action-dark-h: 194;
  --action-dark-s: 100%;
  --action-dark-l: 25%;
  --action-ultra-dark-h: 194;
  --action-ultra-dark-s: 100%;
  --action-ultra-dark-l: 10%;
  --action-comp-h: 374;
  --primary-hex: #cbe6b9;
  --primary-hsl: 96 47% 81%;
  --primary-rgb: 203 230 185;
  --primary-r: 203;
  --primary-g: 230;
  --primary-b: 185;
  --primary-h: 96;
  --primary-s: 47%;
  --primary-l: 81%;
  --primary-hover-h: 96;
  --primary-hover-s: 47%;
  --primary-hover-l: 1.15;
  --primary-ultra-light-h: 96;
  --primary-ultra-light-s: 47%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 96;
  --primary-light-s: 47%;
  --primary-light-l: 85%;
  --primary-medium-h: 96;
  --primary-medium-s: 47%;
  --primary-medium-l: 50%;
  --primary-dark-h: 96;
  --primary-dark-s: 47%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 96;
  --primary-ultra-dark-s: 47%;
  --primary-ultra-dark-l: 10%;
  --primary-comp-h: 276;
  --secondary-hex: #003f52;
  --secondary-hsl: 194 100% 16%;
  --secondary-rgb: 0 63 82;
  --secondary-r: 0;
  --secondary-g: 63;
  --secondary-b: 82;
  --secondary-h: 194;
  --secondary-s: 100%;
  --secondary-l: 16%;
  --secondary-hover-h: 194;
  --secondary-hover-s: 100%;
  --secondary-hover-l: 1.15;
  --secondary-ultra-light-h: 194;
  --secondary-ultra-light-s: 100%;
  --secondary-ultra-light-l: 95%;
  --secondary-light-h: 194;
  --secondary-light-s: 100%;
  --secondary-light-l: 85%;
  --secondary-medium-h: 194;
  --secondary-medium-s: 100%;
  --secondary-medium-l: 50%;
  --secondary-dark-h: 194;
  --secondary-dark-s: 100%;
  --secondary-dark-l: 25%;
  --secondary-ultra-dark-h: 194;
  --secondary-ultra-dark-s: 100%;
  --secondary-ultra-dark-l: 10%;
  --secondary-comp-h: 374;
  --accent-hex: #bcc8a2;
  --accent-hsl: 79 26% 71%;
  --accent-rgb: 188 200 162;
  --accent-r: 188;
  --accent-g: 200;
  --accent-b: 162;
  --accent-h: 79;
  --accent-s: 26%;
  --accent-l: 71%;
  --accent-hover-h: 79;
  --accent-hover-s: 26%;
  --accent-hover-l: 1.15;
  --accent-ultra-light-h: 79;
  --accent-ultra-light-s: 26%;
  --accent-ultra-light-l: 95%;
  --accent-light-h: 79;
  --accent-light-s: 26%;
  --accent-light-l: 85%;
  --accent-medium-h: 79;
  --accent-medium-s: 26%;
  --accent-medium-l: 50%;
  --accent-dark-h: 79;
  --accent-dark-s: 26%;
  --accent-dark-l: 25%;
  --accent-ultra-dark-h: 79;
  --accent-ultra-dark-s: 26%;
  --accent-ultra-dark-l: 10%;
  --accent-comp-h: 259;
  --base-hex: #0a2434;
  --base-hsl: 203 68% 12%;
  --base-rgb: 10 36 52;
  --base-r: 10;
  --base-g: 36;
  --base-b: 52;
  --base-h: 203;
  --base-s: 68%;
  --base-l: 12%;
  --base-hover-h: 203;
  --base-hover-s: 68%;
  --base-hover-l: 1.15;
  --base-ultra-light-h: 203;
  --base-ultra-light-s: 68%;
  --base-ultra-light-l: 95%;
  --base-light-h: 203;
  --base-light-s: 68%;
  --base-light-l: 85%;
  --base-medium-h: 203;
  --base-medium-s: 68%;
  --base-medium-l: 50%;
  --base-dark-h: 203;
  --base-dark-s: 68%;
  --base-dark-l: 25%;
  --base-ultra-dark-h: 203;
  --base-ultra-dark-s: 68%;
  --base-ultra-dark-l: 10%;
  --base-comp-h: 383;
  --shade-hex: #000000;
  --shade-hsl: 0 0% 0%;
  --shade-rgb: 0 0 0;
  --shade-r: 0;
  --shade-g: 0;
  --shade-b: 0;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --shade-hover-h: 0;
  --shade-hover-s: 0%;
  --shade-hover-l: 1.15;
  --shade-ultra-light-h: 0;
  --shade-ultra-light-s: 0%;
  --shade-ultra-light-l: 95%;
  --shade-light-h: 0;
  --shade-light-s: 0%;
  --shade-light-l: 85%;
  --shade-medium-h: 0;
  --shade-medium-s: 0%;
  --shade-medium-l: 50%;
  --shade-dark-h: 0;
  --shade-dark-s: 0%;
  --shade-dark-l: 25%;
  --shade-ultra-dark-h: 0;
  --shade-ultra-dark-s: 0%;
  --shade-ultra-dark-l: 10%;
  --shade-comp-h: 180;
  --neutral-hex: #000000;
  --neutral-hsl: 0 0% 0%;
  --neutral-rgb: 0 0 0;
  --neutral-r: 0;
  --neutral-g: 0;
  --neutral-b: 0;
  --neutral-h: 0;
  --neutral-s: 0%;
  --neutral-l: 0%;
  --neutral-hover-h: 0;
  --neutral-hover-s: 0%;
  --neutral-hover-l: 1.15;
  --neutral-ultra-light-h: 0;
  --neutral-ultra-light-s: 0%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 0;
  --neutral-light-s: 0%;
  --neutral-light-l: 85%;
  --neutral-medium-h: 0;
  --neutral-medium-s: 0%;
  --neutral-medium-l: 50%;
  --neutral-dark-h: 0;
  --neutral-dark-s: 0%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 0;
  --neutral-ultra-dark-s: 0%;
  --neutral-ultra-dark-l: 10%;
  --neutral-comp-h: 180;
  --action: #003f52;
  --action-hover: #3b9300;
  --action-ultra-light: #e6f9ff;
  --action-light: #b3edff;
  --action-medium: #00c4ff;
  --action-dark: #006280;
  --action-ultra-dark: #002733;
  --action-comp: #521300;
  --primary: #cbe6b9;
  --primary-hover: #ecf6e5;
  --primary-ultra-light: #f1f8ec;
  --primary-light: #d5ebc7;
  --primary-medium: #74bb44;
  --primary-dark: #3a5e22;
  --primary-ultra-dark: #17250e;
  --primary-comp: #d3b8e5;
  --secondary: #003f52;
  --secondary-hover: #00485e;
  --secondary-ultra-light: #e6f9ff;
  --secondary-light: #b3edff;
  --secondary-medium: #00c4ff;
  --secondary-dark: #006280;
  --secondary-ultra-dark: #002733;
  --secondary-comp: #521300;
  --accent: #bcc8a2;
  --accent-hover: #d5dcc4;
  --accent-ultra-light: #f3f6ef;
  --accent-light: #dce3cf;
  --accent-medium: #8ca15e;
  --accent-dark: #46502f;
  --accent-ultra-dark: #1c2013;
  --accent-comp: #aea2c8;
  --base: #0a2434;
  --base-hover: #0b293b;
  --base-ultra-light: #eaf4fb;
  --base-light: #bfdff3;
  --base-medium: #2994d6;
  --base-dark: #144a6b;
  --base-ultra-dark: #081e2b;
  --base-comp: #331a0a;
  --shade: #000000;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --neutral: #000000;
  --neutral-hover: black;
  --neutral-ultra-light: #f2f2f2;
  --neutral-light: #d9d9d9;
  --neutral-medium: gray;
  --neutral-dark: #404040;
  --neutral-ultra-dark: #1a1a1a;
  --neutral-comp: black;
  --white: #fff;
  --black: #000;
  --action-trans-10: rgba(0, 63, 82, 0.1);
  --action-trans-20: rgba(0, 63, 82, 0.2);
  --action-trans-30: rgba(0, 63, 82, 0.3);
  --action-trans-40: rgba(0, 63, 82, 0.4);
  --action-trans-50: rgba(0, 63, 82, 0.5);
  --action-trans-60: rgba(0, 63, 82, 0.6);
  --action-trans-70: rgba(0, 63, 82, 0.7);
  --action-trans-80: rgba(0, 63, 82, 0.8);
  --action-trans-90: rgba(0, 63, 82, 0.9);
  --action-light-trans-10: rgba(179, 237, 255, 0.1);
  --action-light-trans-20: rgba(179, 237, 255, 0.2);
  --action-light-trans-30: rgba(179, 237, 255, 0.3);
  --action-light-trans-40: rgba(179, 237, 255, 0.4);
  --action-light-trans-50: rgba(179, 237, 255, 0.5);
  --action-light-trans-60: rgba(179, 237, 255, 0.6);
  --action-light-trans-70: rgba(179, 237, 255, 0.7);
  --action-light-trans-80: rgba(179, 237, 255, 0.8);
  --action-light-trans-90: rgba(179, 237, 255, 0.9);
  --action-dark-trans-10: rgba(0, 98, 128, 0.1);
  --action-dark-trans-20: rgba(0, 98, 128, 0.2);
  --action-dark-trans-30: rgba(0, 98, 128, 0.3);
  --action-dark-trans-40: rgba(0, 98, 128, 0.4);
  --action-dark-trans-50: rgba(0, 98, 128, 0.5);
  --action-dark-trans-60: rgba(0, 98, 128, 0.6);
  --action-dark-trans-70: rgba(0, 98, 128, 0.7);
  --action-dark-trans-80: rgba(0, 98, 128, 0.8);
  --action-dark-trans-90: rgba(0, 98, 128, 0.9);
  --action-ultra-dark-trans-10: rgba(0, 39, 51, 0.1);
  --action-ultra-dark-trans-20: rgba(0, 39, 51, 0.2);
  --action-ultra-dark-trans-30: rgba(0, 39, 51, 0.3);
  --action-ultra-dark-trans-40: rgba(0, 39, 51, 0.4);
  --action-ultra-dark-trans-50: rgba(0, 39, 51, 0.5);
  --action-ultra-dark-trans-60: rgba(0, 39, 51, 0.6);
  --action-ultra-dark-trans-70: rgba(0, 39, 51, 0.7);
  --action-ultra-dark-trans-80: rgba(0, 39, 51, 0.8);
  --action-ultra-dark-trans-90: rgba(0, 39, 51, 0.9);
  --primary-trans-10: rgba(203, 230, 185, 0.1);
  --primary-trans-20: rgba(203, 230, 185, 0.2);
  --primary-trans-30: rgba(203, 230, 185, 0.3);
  --primary-trans-40: rgba(203, 230, 185, 0.4);
  --primary-trans-50: rgba(203, 230, 185, 0.5);
  --primary-trans-60: rgba(203, 230, 185, 0.6);
  --primary-trans-70: rgba(203, 230, 185, 0.7);
  --primary-trans-80: rgba(203, 230, 185, 0.8);
  --primary-trans-90: rgba(203, 230, 185, 0.9);
  --primary-light-trans-10: rgba(213, 235, 199, 0.1);
  --primary-light-trans-20: rgba(213, 235, 199, 0.2);
  --primary-light-trans-30: rgba(213, 235, 199, 0.3);
  --primary-light-trans-40: rgba(213, 235, 199, 0.4);
  --primary-light-trans-50: rgba(213, 235, 199, 0.5);
  --primary-light-trans-60: rgba(213, 235, 199, 0.6);
  --primary-light-trans-70: rgba(213, 235, 199, 0.7);
  --primary-light-trans-80: rgba(213, 235, 199, 0.8);
  --primary-light-trans-90: rgba(213, 235, 199, 0.9);
  --primary-dark-trans-10: rgba(58, 94, 34, 0.1);
  --primary-dark-trans-20: rgba(58, 94, 34, 0.2);
  --primary-dark-trans-30: rgba(58, 94, 34, 0.3);
  --primary-dark-trans-40: rgba(58, 94, 34, 0.4);
  --primary-dark-trans-50: rgba(58, 94, 34, 0.5);
  --primary-dark-trans-60: rgba(58, 94, 34, 0.6);
  --primary-dark-trans-70: rgba(58, 94, 34, 0.7);
  --primary-dark-trans-80: rgba(58, 94, 34, 0.8);
  --primary-dark-trans-90: rgba(58, 94, 34, 0.9);
  --primary-ultra-dark-trans-10: rgba(23, 37, 14, 0.1);
  --primary-ultra-dark-trans-20: rgba(23, 37, 14, 0.2);
  --primary-ultra-dark-trans-30: rgba(23, 37, 14, 0.3);
  --primary-ultra-dark-trans-40: rgba(23, 37, 14, 0.4);
  --primary-ultra-dark-trans-50: rgba(23, 37, 14, 0.5);
  --primary-ultra-dark-trans-60: rgba(23, 37, 14, 0.6);
  --primary-ultra-dark-trans-70: rgba(23, 37, 14, 0.7);
  --primary-ultra-dark-trans-80: rgba(23, 37, 14, 0.8);
  --primary-ultra-dark-trans-90: rgba(23, 37, 14, 0.9);
  --secondary-trans-10: rgba(0, 63, 82, 0.1);
  --secondary-trans-20: rgba(0, 63, 82, 0.2);
  --secondary-trans-30: rgba(0, 63, 82, 0.3);
  --secondary-trans-40: rgba(0, 63, 82, 0.4);
  --secondary-trans-50: rgba(0, 63, 82, 0.5);
  --secondary-trans-60: rgba(0, 63, 82, 0.6);
  --secondary-trans-70: rgba(0, 63, 82, 0.7);
  --secondary-trans-80: rgba(0, 63, 82, 0.8);
  --secondary-trans-90: rgba(0, 63, 82, 0.9);
  --secondary-light-trans-10: rgba(179, 237, 255, 0.1);
  --secondary-light-trans-20: rgba(179, 237, 255, 0.2);
  --secondary-light-trans-30: rgba(179, 237, 255, 0.3);
  --secondary-light-trans-40: rgba(179, 237, 255, 0.4);
  --secondary-light-trans-50: rgba(179, 237, 255, 0.5);
  --secondary-light-trans-60: rgba(179, 237, 255, 0.6);
  --secondary-light-trans-70: rgba(179, 237, 255, 0.7);
  --secondary-light-trans-80: rgba(179, 237, 255, 0.8);
  --secondary-light-trans-90: rgba(179, 237, 255, 0.9);
  --secondary-dark-trans-10: rgba(0, 98, 128, 0.1);
  --secondary-dark-trans-20: rgba(0, 98, 128, 0.2);
  --secondary-dark-trans-30: rgba(0, 98, 128, 0.3);
  --secondary-dark-trans-40: rgba(0, 98, 128, 0.4);
  --secondary-dark-trans-50: rgba(0, 98, 128, 0.5);
  --secondary-dark-trans-60: rgba(0, 98, 128, 0.6);
  --secondary-dark-trans-70: rgba(0, 98, 128, 0.7);
  --secondary-dark-trans-80: rgba(0, 98, 128, 0.8);
  --secondary-dark-trans-90: rgba(0, 98, 128, 0.9);
  --secondary-ultra-dark-trans-10: rgba(0, 39, 51, 0.1);
  --secondary-ultra-dark-trans-20: rgba(0, 39, 51, 0.2);
  --secondary-ultra-dark-trans-30: rgba(0, 39, 51, 0.3);
  --secondary-ultra-dark-trans-40: rgba(0, 39, 51, 0.4);
  --secondary-ultra-dark-trans-50: rgba(0, 39, 51, 0.5);
  --secondary-ultra-dark-trans-60: rgba(0, 39, 51, 0.6);
  --secondary-ultra-dark-trans-70: rgba(0, 39, 51, 0.7);
  --secondary-ultra-dark-trans-80: rgba(0, 39, 51, 0.8);
  --secondary-ultra-dark-trans-90: rgba(0, 39, 51, 0.9);
  --accent-trans-10: rgba(188, 200, 162, 0.1);
  --accent-trans-20: rgba(188, 200, 162, 0.2);
  --accent-trans-30: rgba(188, 200, 162, 0.3);
  --accent-trans-40: rgba(188, 200, 162, 0.4);
  --accent-trans-50: rgba(188, 200, 162, 0.5);
  --accent-trans-60: rgba(188, 200, 162, 0.6);
  --accent-trans-70: rgba(188, 200, 162, 0.7);
  --accent-trans-80: rgba(188, 200, 162, 0.8);
  --accent-trans-90: rgba(188, 200, 162, 0.9);
  --accent-light-trans-10: rgba(220, 227, 207, 0.1);
  --accent-light-trans-20: rgba(220, 227, 207, 0.2);
  --accent-light-trans-30: rgba(220, 227, 207, 0.3);
  --accent-light-trans-40: rgba(220, 227, 207, 0.4);
  --accent-light-trans-50: rgba(220, 227, 207, 0.5);
  --accent-light-trans-60: rgba(220, 227, 207, 0.6);
  --accent-light-trans-70: rgba(220, 227, 207, 0.7);
  --accent-light-trans-80: rgba(220, 227, 207, 0.8);
  --accent-light-trans-90: rgba(220, 227, 207, 0.9);
  --accent-dark-trans-10: rgba(70, 80, 47, 0.1);
  --accent-dark-trans-20: rgba(70, 80, 47, 0.2);
  --accent-dark-trans-30: rgba(70, 80, 47, 0.3);
  --accent-dark-trans-40: rgba(70, 80, 47, 0.4);
  --accent-dark-trans-50: rgba(70, 80, 47, 0.5);
  --accent-dark-trans-60: rgba(70, 80, 47, 0.6);
  --accent-dark-trans-70: rgba(70, 80, 47, 0.7);
  --accent-dark-trans-80: rgba(70, 80, 47, 0.8);
  --accent-dark-trans-90: rgba(70, 80, 47, 0.9);
  --accent-ultra-dark-trans-10: rgba(28, 32, 19, 0.1);
  --accent-ultra-dark-trans-20: rgba(28, 32, 19, 0.2);
  --accent-ultra-dark-trans-30: rgba(28, 32, 19, 0.3);
  --accent-ultra-dark-trans-40: rgba(28, 32, 19, 0.4);
  --accent-ultra-dark-trans-50: rgba(28, 32, 19, 0.5);
  --accent-ultra-dark-trans-60: rgba(28, 32, 19, 0.6);
  --accent-ultra-dark-trans-70: rgba(28, 32, 19, 0.7);
  --accent-ultra-dark-trans-80: rgba(28, 32, 19, 0.8);
  --accent-ultra-dark-trans-90: rgba(28, 32, 19, 0.9);
  --base-trans-10: rgba(10, 36, 52, 0.1);
  --base-trans-20: rgba(10, 36, 52, 0.2);
  --base-trans-30: rgba(10, 36, 52, 0.3);
  --base-trans-40: rgba(10, 36, 52, 0.4);
  --base-trans-50: rgba(10, 36, 52, 0.5);
  --base-trans-60: rgba(10, 36, 52, 0.6);
  --base-trans-70: rgba(10, 36, 52, 0.7);
  --base-trans-80: rgba(10, 36, 52, 0.8);
  --base-trans-90: rgba(10, 36, 52, 0.9);
  --base-light-trans-10: rgba(191, 223, 243, 0.1);
  --base-light-trans-20: rgba(191, 223, 243, 0.2);
  --base-light-trans-30: rgba(191, 223, 243, 0.3);
  --base-light-trans-40: rgba(191, 223, 243, 0.4);
  --base-light-trans-50: rgba(191, 223, 243, 0.5);
  --base-light-trans-60: rgba(191, 223, 243, 0.6);
  --base-light-trans-70: rgba(191, 223, 243, 0.7);
  --base-light-trans-80: rgba(191, 223, 243, 0.8);
  --base-light-trans-90: rgba(191, 223, 243, 0.9);
  --base-dark-trans-10: rgba(20, 74, 107, 0.1);
  --base-dark-trans-20: rgba(20, 74, 107, 0.2);
  --base-dark-trans-30: rgba(20, 74, 107, 0.3);
  --base-dark-trans-40: rgba(20, 74, 107, 0.4);
  --base-dark-trans-50: rgba(20, 74, 107, 0.5);
  --base-dark-trans-60: rgba(20, 74, 107, 0.6);
  --base-dark-trans-70: rgba(20, 74, 107, 0.7);
  --base-dark-trans-80: rgba(20, 74, 107, 0.8);
  --base-dark-trans-90: rgba(20, 74, 107, 0.9);
  --base-ultra-dark-trans-10: rgba(8, 30, 43, 0.1);
  --base-ultra-dark-trans-20: rgba(8, 30, 43, 0.2);
  --base-ultra-dark-trans-30: rgba(8, 30, 43, 0.3);
  --base-ultra-dark-trans-40: rgba(8, 30, 43, 0.4);
  --base-ultra-dark-trans-50: rgba(8, 30, 43, 0.5);
  --base-ultra-dark-trans-60: rgba(8, 30, 43, 0.6);
  --base-ultra-dark-trans-70: rgba(8, 30, 43, 0.7);
  --base-ultra-dark-trans-80: rgba(8, 30, 43, 0.8);
  --base-ultra-dark-trans-90: rgba(8, 30, 43, 0.9);
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-30: rgba(0, 0, 0, 0.3);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-50: rgba(0, 0, 0, 0.5);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-70: rgba(0, 0, 0, 0.7);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-30: rgba(217, 217, 217, 0.3);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-50: rgba(217, 217, 217, 0.5);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-70: rgba(217, 217, 217, 0.7);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-dark-trans-10: rgba(64, 64, 64, 0.1);
  --shade-dark-trans-20: rgba(64, 64, 64, 0.2);
  --shade-dark-trans-30: rgba(64, 64, 64, 0.3);
  --shade-dark-trans-40: rgba(64, 64, 64, 0.4);
  --shade-dark-trans-50: rgba(64, 64, 64, 0.5);
  --shade-dark-trans-60: rgba(64, 64, 64, 0.6);
  --shade-dark-trans-70: rgba(64, 64, 64, 0.7);
  --shade-dark-trans-80: rgba(64, 64, 64, 0.8);
  --shade-dark-trans-90: rgba(64, 64, 64, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --neutral-trans-10: rgba(0, 0, 0, 0.1);
  --neutral-trans-20: rgba(0, 0, 0, 0.2);
  --neutral-trans-30: rgba(0, 0, 0, 0.3);
  --neutral-trans-40: rgba(0, 0, 0, 0.4);
  --neutral-trans-50: rgba(0, 0, 0, 0.5);
  --neutral-trans-60: rgba(0, 0, 0, 0.6);
  --neutral-trans-70: rgba(0, 0, 0, 0.7);
  --neutral-trans-80: rgba(0, 0, 0, 0.8);
  --neutral-trans-90: rgba(0, 0, 0, 0.9);
  --neutral-light-trans-10: rgba(217, 217, 217, 0.1);
  --neutral-light-trans-20: rgba(217, 217, 217, 0.2);
  --neutral-light-trans-30: rgba(217, 217, 217, 0.3);
  --neutral-light-trans-40: rgba(217, 217, 217, 0.4);
  --neutral-light-trans-50: rgba(217, 217, 217, 0.5);
  --neutral-light-trans-60: rgba(217, 217, 217, 0.6);
  --neutral-light-trans-70: rgba(217, 217, 217, 0.7);
  --neutral-light-trans-80: rgba(217, 217, 217, 0.8);
  --neutral-light-trans-90: rgba(217, 217, 217, 0.9);
  --neutral-dark-trans-10: rgba(64, 64, 64, 0.1);
  --neutral-dark-trans-20: rgba(64, 64, 64, 0.2);
  --neutral-dark-trans-30: rgba(64, 64, 64, 0.3);
  --neutral-dark-trans-40: rgba(64, 64, 64, 0.4);
  --neutral-dark-trans-50: rgba(64, 64, 64, 0.5);
  --neutral-dark-trans-60: rgba(64, 64, 64, 0.6);
  --neutral-dark-trans-70: rgba(64, 64, 64, 0.7);
  --neutral-dark-trans-80: rgba(64, 64, 64, 0.8);
  --neutral-dark-trans-90: rgba(64, 64, 64, 0.9);
  --neutral-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --neutral-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --neutral-ultra-dark-trans-30: rgba(26, 26, 26, 0.3);
  --neutral-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --neutral-ultra-dark-trans-50: rgba(26, 26, 26, 0.5);
  --neutral-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --neutral-ultra-dark-trans-70: rgba(26, 26, 26, 0.7);
  --neutral-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --neutral-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --bg-ultra-light: var(--white);
  --bg-light: var(--neutral-ultra-light);
  --bg-dark: var(--neutral-ultra-dark);
  --bg-ultra-dark: var(--black);
  --text-light: var(--white);
  --text-light-muted: var(--neutral-light);
  --text-dark: var(--black);
  --text-dark-muted: var(--neutral-dark);
  --body-color: var(--black);
  --body-bg-color: var(--white);
}
:root {
  --success: #29A745;
  --success-light: #c1f0cc;
  --success-dark: #0f3e19;
  --success-hover: #2fc24f;
  --danger: #DC3545;
  --danger-light: #f4bec3;
  --danger-dark: #410b11;
  --danger-hover: #e35a67;
  --warning: #FFC10A;
  --warning-light: #ffecb3;
  --warning-dark: #4d3900;
  --warning-hover: #ffcc32;
  --info: #18A2B8;
  --info-light: #bbeef6;
  --info-dark: #093c44;
  --info-hover: #1cbcd5;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.8rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --root-font-size: 62.5%;
  --h6: 1.3rem;
  --h5: 1.4rem;
  --h4: 1.8rem;
  --h3: 2rem;
  --h2: 2.3rem;
  --h1: 2.6rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((128 * 0.1) * 1rem);
  --width-s: calc((128 * 0.2) * 1rem);
  --width-m: calc((128 * 0.4) * 1rem);
  --width-l: calc((128 * 0.6) * 1rem);
  --width-xl: calc((128 * 0.8) * 1rem);
  --width-xxl: calc((128 * 0.9) * 1rem);
  --width-vp-max: 128rem;
  --width-content: 128rem;
  --width-50: calc((128 / 2) * 1rem);
  --width-full: 100%;
  --content-width: var(--width-content);
  --content-width-safe: min(var(--width-content), calc(100% - var(--section-padding-x) * 2));
  --radius-xs: 1.3333333333rem;
  --radius-s: 2rem;
  --radius-m: 3rem;
  --radius-l: 4.5rem;
  --radius-xl: 6.75rem;
  --radius-xxl: 10.125rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
  --grid-auto-2: repeat(auto-fit, minmax(min(40.8026755853rem, 100vw - 6rem), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(30.5764411028rem, 100vw - 6rem), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(24.4488977956rem, 100vw - 6rem), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(20.367278798rem, 100vw - 6rem), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(17.4535050072rem, 100vw - 6rem), 1fr));
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --gutter: 2.4rem;
  --success-hex: #29A745;
  --success-rgb: 41 167 69;
  --success-hsl: 133 61% 41%;
  --success-h: 133;
  --success-s: 61%;
  --success-l: 41%;
  --success-r: 41;
  --success-g: 167;
  --success-b: 69;
  --danger-hex: #DC3545;
  --danger-rgb: 220 53 69;
  --danger-hsl: 354 70% 54%;
  --danger-h: 354;
  --danger-s: 70%;
  --danger-l: 54%;
  --danger-r: 220;
  --danger-g: 53;
  --danger-b: 69;
  --warning-hex: #FFC10A;
  --warning-rgb: 255 193 10;
  --warning-hsl: 45 100% 52%;
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 52%;
  --warning-r: 255;
  --warning-g: 193;
  --warning-b: 10;
  --info-hex: #18A2B8;
  --info-rgb: 24 162 184;
  --info-hsl: 188 77% 41%;
  --info-h: 188;
  --info-s: 77%;
  --info-l: 41%;
  --info-r: 24;
  --info-g: 162;
  --info-b: 184;
  --header-height: 0rem;
  --offset: 0rem;
  --offset-xxl: 0rem;
  --offset-xl: 0rem;
  --offset-l: 0rem;
  --offset-m: 0rem;
  --offset-s: 0rem;
  --offset-xs: 0rem;
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --list-spacing: 1em;
  --list-item-spacing: 0.5em;
  --link-underline-offset: 0;
  --focus-color: var(--action);
  --focus-width: 0.2rem;
  --focus-offset: 0.25em;
  --h1-lh: 1.2;
  --h2-lh: 1.2;
  --h3-lh: 1.2;
  --h4-lh: 1.2;
  --h5-lh: 1.2;
  --h6-lh: 1.2;
  --text-xxl-lh: 1.5;
  --text-xl-lh: 1.5;
  --text-l-lh: 1.5;
  --text-m-lh: 1.5;
  --text-s-lh: 1.5;
  --text-xs-lh: 1.5;
  --box-shadow-m: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-l: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --box-shadow-1: 0 4px 4px -10px rgba(0, 0, 0, 0.04), 0 13px 13px -10px rgba(0, 0, 0, 0.06), 0 40px 60px -10px rgba(0, 0, 0, 0.08);
  --box-shadow-2: 0 2.7px 3.6px -5px rgba(0, 0, 0, 0.04), 0 7.5px 10px -5px rgba(0, 0, 0, 0.06), 0 18px 24.1px -5px rgba(0, 0, 0, 0.08), 0 60px 80px -5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -5px rgba(0, 0, 0, 0.04), 0 12.5px 10px -5px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -5px rgba(0, 0, 0, 0.08), 0 41.8px 33.4px -5px rgba(0, 0, 0, 0.1), 0 80px 80px -5px rgba(0, 0, 0, 0.105);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
}
:root {
  --btn-padding-block: 0.75em;
  --btn-padding-inline: 1.5em;
  --btn-min-width: 14rem;
  --btn-line-height: 1;
  --btn-font-weight: 900;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 0.25rem;
  --btn-outline-border-width: 0.25rem;
  --btn-border-style: solid;
  --btn-border-radius: 1em;
  --btn-transition-duration: 0.3s;
}
/* Deprecated in ACSS 2.7 */
:root {
  --btn-border-size: 0.25rem;
  --btn-radius: 1em;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-x: 1.5em;
  --btn-pad-y: 0.75em;
  --btn-text-style: normal;
  --btn-weight: 900;
  --btn-width: 14;
}
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.1em;
  --col-rule-width-m: 0.3em;
  --col-rule-width-l: 0.5em;
}
:root {
  --sticky-s: 2.5%;
  --sticky-m: 5%;
  --sticky-l: 10%;
}
:root {
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
}
